@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.4);
    /* Slate-400 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 116, 139, 0.7);
    /* Slate-500 */
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(148, 163, 184, 0.4) transparent;
  }

  .custom-scrollbar-emerald::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .custom-scrollbar-emerald::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar-emerald::-webkit-scrollbar-thumb {
    background: rgba(16, 185, 129, 0.5); /* emerald-500 */
    border-radius: 10px;
  }

  .custom-scrollbar-emerald::-webkit-scrollbar-thumb:hover {
    background: rgba(16, 185, 129, 0.8);
  }

  .custom-scrollbar-emerald {
    scrollbar-width: thin;
    scrollbar-color: rgba(16, 185, 129, 0.5) transparent;
  }

  @media print {
    @page {
      margin: 0;
    }
    body {
      padding: 1cm;
    }
  }
}